<div class="nav">
  <div class="nav-header">
    <div class="nav-title">
      SP
    </div>
  </div>
  <div class="nav-links">
    <a href="">1. About</a>
    <a href="">2. Experience</a>
    <a href="">3. Contact</a>
    <a href="">4. Resume</a>
  </div>
</div>