<!DOCTYPE html>
<html>
<head>
	<title>Shawn Pitts - Web Developer</title>
	<link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
</head>
<body class="homepage-body">
	<div class="homepage-container">
		<h1 id="name">Shawn Pitts, <br>
		Software Engineer / Developer</h1>
		<p id="intro">Hi. I am a software engineer based in Boston, MA currently interning as
		a QA Engineer at <a id="company" href="https://corp.hapyak.com/">HapYak Interactive Video</a>.</p>
		<div class = "homepagebutton">
			<input class="ghost-button" id="projects-button" type="button" value="Explore Projects" onclick="" class="btn btn-primary">
			<input class="ghost-button" id="profile-button" type="button" value="View Profile" onclick="" class="btn btn-primary">
	</div>
</body>
</html>